.serviceTop {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  left: 0;
  z-index: 99;
  // 头部
  &-title {
    height: 70px;
    border-bottom: 1px solid #d8d8d8;
    line-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      cursor: pointer;
      width: 146px;
    }
  }
}
